h1 {
  text-align: center;
}

.content_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie {
  width: min-content;
}

.title_box {
  height: 2.7rem;
}

.bottombar {
  color: aliceblue;
  background-color: rgb(33, 15, 15);
}

.headerbar {
  color: aliceblue;
  background-color: black;
}
