body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profileScreen {
  height: 100vh;
  color: white;
}

.profileScreen_body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
  max-width: 800px;
}

.profileScreen_info {
  display: flex;
}

.profileScreen_info > img {
  height: 100px;
}
.settingsHead{
  text-decoration: underline;
}

.settings {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
.Settingsbody{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}
.login {
  position: relative;
  height:100%;
  background: url("https://img.freepik.com/free-vector/movie-black-logo-design-premium_39063-25.jpg?w=2000") center no-repeat;
  background-size: cover;
  }
  
  .login_logo {
      position: fixed;
      left: 0;
      width: 200px;
      object-fit: contain;
      padding-left: 20px;
  
  }
  .login_button { 
      position: fixed;
      right: 20px;
      top: 20px;
      padding: 10px 20px;
      color:aqua;
      background-color: black;
  }

  
  .login_gradient {
      width: 100%;
      z-index: 1;
      height: 100vh;
      background: rgba(red, green, blue, alpha);
      background-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.8) 0,
          rgba(0, 0, 0) 60%
          rgba(0, 0, 0, 0.8) 100%
      );
  }
  
  .login_body > h1 {
      font-size: 3.125rem;
      margin-bottom: 20px;
  }
 .login_body > h2 {
   font-size: 2rem;
   font-weight: 400;
   margin-bottom: 30px;
 }
   .login_body > h3 {
    font-size: 2rem;
    font-weight: 400;

}
  .login_body {
      position: absolute;
      top: 30%;
      z-index:  1;
      color: orange;
      padding: 20px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

  }

  .login_input > form > input {
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;

  }

  .login_getStarted {
    padding: 16px 20px;
    font-size: 1rem;
    color:white;
    background-color: black;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }
  .nav {
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 50px;
    z-index: 4;
    
    transition-timing-function: ease-in;
    transition: all 0.5s;

}

.nav_contents { 
    display: flex;
    justify-content: space-between;
}

.nav_logo {
    position: fixed;
    left: 0px;
    width: 80px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}

.nav_avatar {
    cursor: pointer;
    position: fixed;
    right: 20px;
    width: 30px;
    height: 30px;
}

.Search {
  margin-right: 0px;
  width: 300px;
  height: 40px;
  font-size: 20px;




}


.table {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .details_box {
    display: flex;
    justify-content: space-between;
}
